#nav{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	margin-top: 25px;
}

#burgerMenu {
	display: inline-block;
	cursor: pointer;
	z-index: 12;
	position: fixed;
    right: 18px;
}

#slidenav{
	background:url("../../img/download.png");
	background-size: cover;
	z-index: 10;
	position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    transition: max-width .7s ease-in-out;
}

#slidemenu{
	font-size: 1.5em;
    color: #fff;
    padding-top: 50px;
    padding-left: 60px;
    line-height: 40px;
    padding-right: 20px;
    text-align: end;
}

#dsktpMenu{
		display: none;
		transition: width .7s ease-in-out;
	}


.streep1, .streep2, .streep3 {
	width: 35px;
	height: 3px;
	background-color: #f6f5f3;
	margin: 6px 0;
	transition: 0.4s;
}

.vorm .streep1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 8px) ;
	transform: rotate(-45deg) translate(-9px, 8px) ;
}

.vorm .streep2 {
	opacity: 0;
}

.vorm .streep3 {
	-webkit-transform: rotate(45deg) translate(-3px, -5px) ;
	transform: rotate(45deg) translate(-3px, -5px) ;
}

img[alt="logo"]{
	width: 150px;
	height: 45px;
}

@media screen and (min-width: 600px) {
  
	img[alt="logo"]{
		width: 200px;
    	height: 80px;
	}
    
    #dsktpMenu{
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	img[alt="logo"]{
		width: 300px;
    	height: 100px;
	}

	#dsktpMenu{
		display: inline-flex;
		width: 100%;
		justify-content: flex-end;
		margin: 0;
		padding: 0;
	}
	#dsktpMenu h2{
		font-weight: normal;
		margin: 0;
		padding: 0;
		padding-right: 20px;
	}
  }