#nav{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	margin-top: 25px;
}

#burgerMenu {
	display: inline-block;
	cursor: pointer;
	z-index: 12;
	position: fixed;
    right: 18px;
}

#slidenav{
	background:url("../../img/download.png");
	background-size: cover;
	z-index: 10;
	position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    transition: max-width .7s ease-in-out;
}

#slidemenu{
	font-size: 1.5em;
    color: #fff;
    padding-top: 50px;
    padding-left: 60px;
    line-height: 40px;
    padding-right: 20px;
    text-align: end;
}

#dsktpMenu{
		display: none;
		transition: width .7s ease-in-out;
}

#dsktpMenu h2{
	font-size: normal;
}


.streep1, .streep2, .streep3 {
	width: 35px;
	height: 3px;
	background-color: #f6f5f3;
	margin: 6px 0;
	transition: 0.4s;
}

.vorm .streep1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 8px) ;
	transform: rotate(-45deg) translate(-9px, 8px) ;
}

.vorm .streep2 {
	opacity: 0;
}

.vorm .streep3 {
	-webkit-transform: rotate(45deg) translate(-3px, -5px) ;
	transform: rotate(45deg) translate(-3px, -5px) ;
}

img[alt="logo"]{
	width: 150px;
	height: 45px;
}

img[alt="logo_slogan"]{
	display: none;
}

img[alt="dropdown"]{
	margin-bottom: -5px;
	padding-right: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

@media screen and (min-width: 600px) {
  
	img[alt="logo"]{
		width: 300px;
    	height: 80px;
	}

	img[alt="logo_slogan"]{
		display: none;
	}
    
    #dsktpMenu{
		display: none;
	}
}

@media screen and (min-width: 1024px) {

	img[alt="logo"]{
		width: 300px;
    	height: 80px;
    	margin-right: -50px;
	}
	img[alt="logo_slogan"]{
		display: block;
		width: 300px;
		margin-right: -50px;
	}

	#dsktpMenu{
		display: inline-flex;
		width: 100%;
		justify-content: flex-end;
		margin: 0;
		padding: 0;
	}
	#dsktpMenu h2{
		font-weight: normal;
		margin: 0;
		padding: 0;
		padding-right: 20px;
	}
  }