#socialLinks{
	display: flex;
	padding-inline-start:0;
}
#voet{
	padding-top: 20px;
	padding-left: 20px;
}
.accordion{
	background-color: #f0efef;
	color: #000;
    cursor: pointer;
	padding: 20px;
	transition: 0.4s;
	border-bottom:2px solid #fff;
}

.paneel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
}

.paneel2{
	background-color: #f0efef;
	color: #000;
	padding: 20px;
}

.paneel2:first-of-type{
	border-bottom:2px solid #fff;
}

.arrowRotate{
	width: 30px;
    transform: rotate(90deg);
    float: right;
    margin-top: -15px;
}

footer{
	margin-top: -40px;
}

a img{
	padding-right: 15px;
}

img[alt="slogan"]{
	width: 60%;
	margin-left:40%;
}