#socialLinks{
	display: flex;
	padding-inline-start:0;
}
#voet{
	padding-top: 20px;
	padding-left: 20px;
	color: #fff;
}

#voet a{
	color: #fff;
	text-decoration: underline;
}
.accordion{
	background-color: #f0efef;
	color: #000;
    cursor: pointer;
	padding: 20px;
	transition: 0.4s;
	border-bottom:2px solid #fff;
}

.none{
	max-height: 0;
}

.paneel {
	padding: 0 18px;
    background-color: #f0efef;
    max-height: 100;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.paneel2{
	background-color: #f0efef;
	color: #000;
	padding: 20px;
	border-bottom:2px solid #fff;
}

.border{
	border:none;
}

.arrowRotate{
	width: 30px;
    transform: rotate(90deg);
    float: right;
    margin-top: -15px;
    transition: rotate 0.2s ease-out;
}

a img{
	padding-right: 15px;
}

img[alt="slogan"]{
	width: 60%;
	margin-left:40%;
	margin-bottom: -5px;
}

@media screen and (min-width: 600px){

	#voetcontent{
		display: flex;
        justify-content: space-between;
	}

	img[alt="slogan"]{
		width: 350px;
        margin:0; 
	    margin-top: -80px;
	    max-height: 60px;
	}

	br{
		display: none;
	}
}
    