#button{
  background:url("../../img/Background.svg");
  width: 220px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  float: right;
  margin-top: -54px;
  text-align: right;
}

.arrow{
  margin: 15px;
  vertical-align: middle;
  width: 60px;
}

header{
  background: url("../../img/hdr_background_mob.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 640px;
}

header h1 {
  font-size: normal;
}


@media screen and (min-width: 642px) {

  #button{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  header{
    background: url("../../img/hdr_background_mob.png") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  header h1{
    height: 90%;
    width: 90%;
    padding: 70px 0;
  }
}

@media screen and (min-width: 1024px) {
  
  header{
    background: url("../../img/hdr_background_dsktp.png") no-repeat;
    background-position: center;
    background-size: cover;
  }

  header h1{
    font-size: 4rem;
    width: 70%;
    padding-top: 10%;
  }

  header h2{
    font-size: normal;
  }
}